# Application specifics
.env
# Services specifics

# services/api/

services/api/.env
services/api/build/target/
services/api/*.class
# Services specifics

# services/front/

services/front/.env
# Services specifics

# services/player/

services/player/.env
# Services specifics

# services/api/

services/api/.env
services/api/build/target/
services/api/*.class
